// bower:scss
// endbower


html { font-size: 62.5%; }

body {
  background: #fafafa;
  color: #4d4d4d;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.6rem;
	line-height: 2.56rem;
  margin: 0;
	text-rendering: optimizeLegibility;
	width: 100vw;
}

h1 {
  font-size: 5rem;
  line-height: 1.3;
}

a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes fadeIn {
   0%   { opacity: 0; }
   100% {
     opacity: 1;
     transform: translate(-50%, -50%);
   }
 }

@-moz-keyframes fadeIn {
   0%   { opacity: 0; }
   100% {
     opacity: 1;
     transform: translate(-50%, -50%);
   }
 }

@-o-keyframes fadeIn {
   0%   { opacity: 0; }
   100% {
     opacity: 1;
     transform: translate(-50%, -50%);
   }
 }

@keyframes fadeIn {
   0%   { opacity: 0; }
   100% {
     opacity: 1;
     transform: translate(-50%, -50%);
   }
 }

@mixin animation($name, $dur) {
  -webkit-animation: $name $dur; /* Safari 4+ */
  -moz-animation:    $name $dur; /* Fx 5+ */
  -o-animation:      $name $dur; /* Opera 12+ */
  animation:         $name $dur; /* IE 10+, Fx 29+ */
}

.landing {
  margin: 100px auto 100px auto;
	max-width: 60rem;
  text-align: justify;
  width: 80%;

  h1, h3 {
    text-align: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .landing { margin: 10% auto 100px auto; }
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1120px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	html { font-size: 60%; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	html { font-size: 58%; }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  html { font-size: 53%; }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
  html { font-size: 50%; }
}

.brews {
  width: 100%;
}

.brew {
	display: inline-block;
	margin-bottom: -.7rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  figure {
		color: #fff;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
  }

  figcaption {
  }

  img {
		max-width: 80rem;
    transition: all .4s ease-in-out;
    width: 100%;
  }

  a {
    text-decoration: none;
  }
}

.corona {
  background-color: #DBEAF0;
}

.pbr {
  background-color: #FFC753;
}

.bluemoon {
  background-color: #C1DAFF;
}

.dosequis {
  background-color: #DEEEE4;
}

.fattire {
  background-color: #F3F3F5;
}

.shiner {
  background-color: #F1F0F4;
}

.lonestar {
  background-color: #FCDA7A;
}

.redstripe {
  background-color: #B2CFFF;
}

.modelo {
  background-color: #F4EFF4;
}

.molson {
  background-color: #BEDBFB;
}

.highlife {
  background-color: #FFFCF7;
}

.brooklynlager {
  background-color: #514779;
}

.creativesouth {
  background-color: #FFDB81;
}

.newcastle {
  background-color: #B3F1F3;
}

.yuengling {
  background-color: #A8BFA8;
}

.stella {
  background-color: #B3CEBB;
}

@media only screen and (max-width: 666px) {
	.brew {

		img {
			max-height: none;
		}
	}
}

footer {
  line-height: 1.9;
  margin: 18rem auto;
  max-width: 75rem;
  text-align: center;
  width: 90%;

  h2 {
    letter-spacing: 1.5px
  }

  p {
    color: #404040;
  }
}
