@mixin font-face-Walsheim($filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: "GT Walsheim";
    font-weight: $weight;
    font-style: $style;
    src: url("../fonts/GT-Walsheim/#{$filename}.eot") format("eot"),
         url("../fonts/GT-Walsheim/#{$filename}.woff2") format("woff2"),
         url("../fonts/GT-Walsheim/#{$filename}.woff") format("woff"),
         url("../fonts/GT-Walsheim/#{$filename}.ttf") format("truetype"),
         url("../fonts/GT-Walsheim/#{$filename}.svg") format("svg");
  }
}

@mixin font-face-Sectra($filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: "GT Sectra";
    font-weight: $weight;
    font-style: $style;
    src: url("../fonts/GT-Sectra/#{$filename}.eot") format("eot"),
         url("../fonts/GT-Sectra/#{$filename}.woff2") format("woff2"),
         url("../fonts/GT-Sectra/#{$filename}.woff") format("woff"),
         url("../fonts/GT-Sectra/#{$filename}.ttf") format("truetype"),
         url("../fonts/GT-Sectra/#{$filename}.svg") format("svg");
  }
}

@mixin font-face-Leitura($filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: "Leitura Display";
    font-weight: $weight;
    font-style: $style;
    src: url("../fonts/Leitura-Display/#{$filename}.eot") format("eot"),
         url("../fonts/Leitura-Display/#{$filename}.woff2") format("woff2"),
         url("../fonts/Leitura-Display/#{$filename}.woff") format("woff"),
         url("../fonts/Leitura-Display/#{$filename}.ttf") format("truetype"),
         url("../fonts/Leitura-Display/#{$filename}.svg") format("svg");
  }
}

@include font-face-Walsheim('GT-Walsheim-Regular','normal', 'normal');
@include font-face-Sectra('GT-Sectra-Bold','bold', 'normal');
@include font-face-Leitura('LeituraDisplay-Roman','normal', 'normal');

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin setWidthAndCenter() {
  margin: 0 auto;
  max-width: $max-width;
  width: $width;
}
