// http://codepen.io/drygiel/pen/rtpnE?editors=1100
.csslider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
  width: 100%;
}

.csslider > ul {
  position: relative;
  width: 100%;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.csslider > ul > li {
  box-sizing: border-box;
  display: block;
  font-size: 15px;
  font-size: initial;
  height: 100%;
  line-height: normal;
  overflow: hidden;
  position: relative;
  transition: all .5s cubic-bezier(0.465, 0.183, 0.153, 0.946);
  vertical-align: top;
  white-space: normal;
  width: 100%;

  &:first-of-type {
    // background: url('../images/00-dosEquis.png') no-repeat;
    margin-top: 10.5%;
  }
}

.csslider img {
  height: auto;
  width: 100%;
}
