$color-corona: #DBEAF0;
$color-pbr: #FFC753;
$color-bluemoon: #C1DAFF;
$color-dosequis: #DEEEE4;
$color-fattire: #F3F3F5;
$color-shiner: #F1F0F4;
$color-lonestar: #FCDA7A;
$color-redstripe: #B2CFFF;
$color-modelo: #F4EFF4;
$color-molson: #BEDBFB;
$color-highlife: #FFFCF7;
$color-brooklynlager: #514779;
$color-creativesouth: #FFDB81;
$color-newcastle: #B3F1F3;
$color-yuengling: #A8BFA8;
$color-stella: #B3CEBB;
$color-longtrail: #CBD8E4;
$color-budlight: #F3F5F4;
$color-bluemoon2: #A2D6A5;
$color-heavymelon: #6ba7f4;
$color-sapporo: #f4a853;
$color-heineken: #b2d1e1;

$font-color: #333;
$font-color-lite: #bbb;

$max-width: 120rem;
$width: 90%;

$max: 22;
